@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kaushan+Script&display=swap');

body {
    background-color: rgb(186, 193, 201);
    margin: 30px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.row {
    margin-top: 20px;
}

h1 {
    color: darkorange;
    font-family: 'Kaushan Script',cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
}

h2 {
    color: orange;
    font-family: 'Kaushan Script';
    text-decoration: underline;
}

p {
    font-family: 'Architects Daughter';
    border: peachpuff, dotted, 5px;
    font-size: medium;
}
    
aside {
    float: right;
    border-width: medium;
    border: solid, 5px, yellow;
}

li {
    font-family: 'Architects Daughter';

}