@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Kaushan+Script&display=swap');

body {
    background-color: rgb(186, 193, 201);
    margin: 30px 15px;
    font-family: 'Architects Daughter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 

.row {
    margin-top: 30px;
}

h1 {
    color: darkslateblue;
    font-family: 'Kaushan Script',cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 20px;
}

h2 {
    color: darkslategrey;
    font-family: 'Kaushan Script';
    padding: 15px;
}

h3 {
    font-family: 'Kaushan Script';
    color: darkorange;
    padding-left: 50px;
}

p {
    font-family: 'Architects Daughter';
    border: peachpuff, dotted, 5px;
    font-size: medium;
}
    
aside {
    float: right;
    border-width: medium;
    border: solid, 5px, yellow;
}

footer {
    font-family: 'architects daughter';
    background-color: darkorange;
    float: center;
    text-align: center;
    font-size: large;
}

li {
    font-family: 'Architects Daughter';
    font-size: 25px;
}

.container {
    padding: 15px;
}

.wire {
    align-content: center;
}